@media (min-width: 1100px) {
  .container,
  .index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .index-container {
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
  }

  .index-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
      }
}

html {
  font-family: "Open Sans", Verdana, sans-serif;
}

.image-recipe {
  height: 700px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 700px;
}
.index-title,
.recipe-title {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

.index-container div {
  padding: 10px;
  justify-content: space-between;
}

.index-image {
  padding: 10px;
  height: 700px;
  width: auto;
}
